# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.project
e2e-test/.pydevproject
e2e-test/lib/__pycache__
e2e-test/libspecs
e2e-test/logs
libspecs
logs
/backend/*.sqlite3
