.addboard-modal {
    top: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 4;
    margin-top: 1rem;
}

.addboard-modal__left {
    position: relative;
}

.addboard-modal__title-block {
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 350px;
    position: relative;
}
.addboard-madal_fake {
    height: 160px;
    border-radius: 5px;
    width: 350px;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.52);
    position: absolute;
    top: 0;
}

.addboard-modal__title {
    border: 0;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    padding: 1rem 0.5rem 0.5rem 1rem;
    font-size: 1.125rem;
    position: absolute;
    top: 0;
    z-index: 1;
}

.addboard-modal__title:hover,
.addboard-modal__title:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.addboard-modal__title::-webkit-input-placeholder {
    color: #bcbcbc;
}

.addboard-modal__title:-ms-input-placeholder {
    color: #bcbcbc;
}

.addboard-modal__title::-ms-input-placeholder {
    color: #bcbcbc;
}

.addboard-modal__title::placeholder {
    color: #ffffff;
}

.addboard-modal__exit {
    margin: 0.75rem 0.75rem 0 0;
    font-size: 1.125rem;
    color: white;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.addboard-modal__create {
    margin-top: 0.5em;
}

.addboard-modal__right {
    margin-left: 0.5em;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.addboard-modal__color-box {
    height: 48px;
    width: 48px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    position: relative;
    background-color: white;
}

.addboard-modal__color-box > i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.6rem;
}

.addboard-modal__color-box:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}

.addboard-modal__color-box--img {
    background-repeat: no-repeat;
    background-size: cover;
}

.addboard-modal__color-box--tick {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.addboard-modal__color-box .fa-ellipsis-h {
    color: #838282;
}

.addboard-modal .btn--disabled {
    background-color: lightgray;
}
