@import "../base/layout";

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card-account {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px rgb(200, 199, 199);
    border-radius: 12px;
    flex: 2;
    height: 70vh;
    margin-bottom: 2rem;

    @media (max-width: 1024px) {
        width: 100%;
        flex: unset;
    }

    width: 400px;
    box-shadow: #4680ff;
    text-align: center;
    // .center {
    //     display: block;
    //     margin-left: auto;
    //     margin-right: auto;
    //     width: 300px;
    //     border-radius: 70%;
    //     margin-top: 10px;
    // }
    .card-user {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        .image {
            height: 200px;
            overflow: hidden;
            // height: 200px;
            position: relative;
            background-color: black;
            .bg4-user {
                border-radius: 12px;
                max-width: 100%;
                vertical-align: middle;
                border-style: none;
            }
        }
        .card-body {
            min-height: 240px;
            padding: 15px 15px 10px;
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem;
            .author {
                text-align: center;
                text-transform: none;
                margin-top: -140px;
                a {
                    color: #007bff;
                    text-decoration: none;
                    background-color: initial;
                    .avatar-user {
                        width: 240px;
                        height: 240px;
                        border: 1px solid #fff;
                        position: relative;
                        overflow: hidden;
                        border-radius: 50%;
                        margin-bottom: 15px;

                        margin: auto;
                    }
                    .title {
                        font-weight: 700;
                        font-size: 1.57em;
                        line-height: 1.4em;
                        margin-top: 20px;
                        margin-bottom: 15px;
                    }
                }
                a:hover {
                    color: #51cbce;
                    text-decoration: underline;
                }
                .description {
                    color: #9d9d9d;
                    margin-top: -10px;
                    font-size: 1.14em;
                    margin-bottom: 1rem;
                }
            }
        }
        .description {
            color: #9d9d9d;
            font-weight: 300;
            margin-top: 0;
            margin-bottom: 1rem;
            line-height: 2;
        }
    }
    .card-project {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        height: 30vh;
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
        box-shadow: 1px 3px rgb(200, 199, 199);
        margin-bottom: 2rem;
        margin-top: 3rem;
        flex: 1;
        .card-project-header {
            background-color: initial;
            padding: 15px 15px 0;
            border: 0;
            margin-bottom: 0;
            text-align: left;
            .card-title {
                margin-top: 10px;
                margin-bottom: 0.75rem;
                font-size: 1.714em;
                line-height: 1.45em;
                font-weight: 400;
            }
        }
    }
    // .card-list {
    //     margin: 0;
    //     padding: 0;
    //     box-sizing: border-box;
    //     font-family: "Poppins", sans-serif;
    //     li {
    //         margin-left: 20px;
    //         a {
    //             line-height: 2;
    //             margin: auto;
    //             color: rgb(36, 35, 35);
    //             font-size: 15px;
    //             padding: 5px 0;
    //             white-space: nowrap;
    //             opacity: 0.6;
    //             transition: all 0.3s ease;
    //             width: 100%;
    //             display: flex;

    //             &:hover {
    //                 opacity: 1;
    //             }

    //             span {
    //                 width: 50%;
    //                 overflow: hidden;
    //                 text-overflow: ellipsis;
    //                 text-align: initial;
    //             }
    //         }

    //         i {
    //             min-width: 60px;
    //             text-align: center;
    //             color: rgb(14, 13, 13);
    //             font-size: 20px;
    //             transition: all 0.3s ease;
    //             margin: auto 0;
    //         }
    //     }
    // }
}
.card-info {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin-left: 20px;
    flex: 3;
    width: 50%;
    padding: 15px;
    margin-bottom: 2rem;

    box-shadow: 1px 3px rgb(200, 199, 199);

    @media (max-width: 1024px) {
        width: 100%;
        margin: 0;
        flex: unset;
    }

    .card-header {
        border: 0;
        background: #fff;
        border-radius: 12px;
        h1 {
            margin-top: 10px;
            margin-bottom: 0.75rem;
            font-size: 1.57em;
            line-height: 1.4em;
            margin-bottom: 15px;
            font-weight: 400;
        }
    }
    .card-body {
        background-color: #fff;
        border-radius: 12px;

        // .row {
        //     // display: -webkit-flex;
        //     display: flex;
        //     // -webkit-flex-wrap: wrap;
        //     flex-wrap: wrap;
        //     margin-right: -15px;
        //     margin-left: -15px;
        //     .company{

        //     }
        //     .firstname {
        //         width: 50%;
        //     }
        //     .lastname {
        //         width: 50%;
        //     }
        //     .address {
        //         width: 100%;
        //     }

        //     .about {
        //         position: relative;
        //         width: 100%;
        //         padding-right: 15px;
        //         padding-left: 15px;
        //     }
        //     .form-group {
        //         padding: 10px;
        //         margin-bottom: 20px;

        //         label {
        //             font-size: 0.8571em;
        //             margin-bottom: 5px;
        //             color: #9a9a9a;
        //             display: inline-block;
        //         }

        //         input {
        //             position: relative;
        //         }
        //         .form-control {
        //             margin: auto;
        //             padding: 10px;
        //             height: unset;
        //             border: 1px solid #ddd;
        //             border-radius: 4px;
        //             line-height: normal;
        //             font-size: 14px;
        //             box-shadow: none;
        //             display: block;
        //             width: 100%;
        //             font-weight: 400;
        //             background-clip: padding-box;
        //         }

        //         textarea {
        //             max-width: 100%;
        //             max-height: 80px;
        //             overflow: auto;
        //             resize: none;
        //             border: 1px solid #e3e3e3;
        //             border-radius: 4px;
        //             line-height: 2;
        //             .form-control {
        //                 width: 100%;
        //                 resize: none;
        //                 border: 1px solid #e3e3e3;
        //                 border-radius: 4px;
        //                 line-height: 2;
        //             }
        //         }
        //     }
        //     .update {
        //         margin-left: auto;
        //         margin-right: auto;
        //
        //     }
        // }
    }
}

.card-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 1rem;
    padding: 0 10px;
}

.form-group {
    margin-bottom: 1rem;

    .form-control:disabled,
    .form-control[readonly] {
        background-color: #e9ecef;
        opacity: 1;
    }

    label {
        display: inline-block;
        font-size: 14px;
        color: #9d9d9d;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    textarea {
        min-height: 150px;
    }
}

.btn-wrapper {
    text-align: center;
    padding: 1rem 0;
}

.btn-update {
    border-radius: 16px;
    background-color: #51cbce;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
}
